.DS_Store
node_modules

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.docker/data/db/*
!.docker/data/db/.gitkeep
.docker/data/redis/*
!.docker/data/redis/.gitkeep
public/images/*
!public/images/.gitkeep